---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/HeroSection.astro'
import Services from '../components/Services.astro'
import Courses from '../components/Courses.astro'
import Blog from '../components/Blog.astro'
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-24 mb-40">
    <HeroSection />
    <Services />
    <Courses />
    <Blog />
  </main>
</Layout>
