---
import Container from './Container.astro'
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary-600 to-purple-400"
    >
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300">
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-9/12 text-center mx-auto">
        <h1 class="text-gray-900 font-bold text-5xl md:text-6xl xl:text-7xl">
          Empower Your Learning with Medhasvini
        </h1>
        <p class="mt-8 text-gray-700 text-lg lg:text-xl">
          Achieve academic success with Medhasvini's e-learning services,
          including textbook solutions, question papers, online courses, and
          YouTube videos.
        </p>
      </div>
    </div>
  </Container>
</div>
