---
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/500.css'
import '@fontsource/poppins/600.css'
import '@fontsource/poppins/700.css'
import '@fontsource/poppins/800.css'
import '@fontsource/poppins/900.css'

import AppFooter from '../components/AppFooter.astro'
import AppHeader from '../components/AppHeader.astro'
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Template built with tailwindcss using Tailus blocks v2"
    />
    <title>Medhasvini Theme</title>
  </head>
  <body
    class="bg-white overflow-x-hidden antialiased text-gray-700 flex flex-col min-h-screen"
  >
    <AppHeader />
    <div class="flex-1">
      <slot />
    </div>
    <AppFooter />
  </body>
</html>
